{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Django Contato</title>
    <link rel="stylesheet" href="{% static 'css/stylecontato.css' %}">
</head>    
<body>
    
    <center>
    <h1>Page Django Contact</h1>
        
    <p style="color: brown;">Let's Begin</p>
        
        <h2>Contact Number</h2>
        <dl>
            <dt style="color: brown;">Number: 82 98851-6305</dt>                     
        </dl>

        <h2>Contact E-mail</h2>
        <dl>
            <dt style="color: brown;">E-mail: kemuelkesley@gmail.com</dt>
        </dl>
    </center>
</body>
</html>